:root {
	--slate-950: #020617;
	--slate-900: #0f172a;
	--slate-100: #f1f5f9;
	--slate-300: #cbd5e1;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--slate-950);
	color: var(--slate-100);
	font-family: 'Work Sans', 'sans-serif';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	min-width: 100vw;
	min-height: 100vh;
	padding: 1rem;
}

.display-data {
	width: 100%;
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 8rem;
	text-align: center;
	gap: 1rem;
}
.display-data p,
h2,
h3 {
	text-align: center;
}

.display-data p {
	font-size: 1.4rem;
	font-weight: 300;
}
.display-data .temps {
	display: flex;
	gap: 2rem;
	align-items: flex-end;
	justify-content: center;
}

.display-data .temp {
}

.display-data .temp h2 {
	font-size: 4rem;
	font-weight: 900;
}

.display-data .temp .temp-c {
	font-size: 8rem;
}

.display-data .temp h3 {
	font-size: 1.5rem;
	font-weight: 700;
	opacity: 0.8;
}

.display-data .temp .temp-k,
.temp-f {
	font-size: 2rem;
}

@media (max-width: 1024px) {
	.display-data .temp h2 {
		font-size: 2.5rem;
		font-weight: 900;
	}

	.display-data .temp .temp-c {
		font-size: 4rem;
	}
	.display-data .temp h3 {
		font-size: 1rem;
	}

	.display-data .temp .temp-k,
	.temp-f {
		font-size: 1.5rem;
	}

	.display-data p {
		font-size: 1.1rem;
		font-weight: 300;
	}
}

.chart-container {
	width: 96%;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#temp-chart,
#hum-chart {
	max-height: 20vh;
	width: 100%;
}

@media (max-width: 480px) {
	.temps {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.8rem !important;
		margin-bottom: 2rem;
	}

	.temp {
		width: 100%;
	}
}
